* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  min-height: 100%;
  background-color: black;
}

.main {
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.7)), url('./images/bg.jpg');
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
}

nav {
  max-width: 80vw;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  height: 62px;
}

nav img {
  width: 150px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.lang-select {
  padding: 4px 20px 4px 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: 900;
  background-color: transparent;
  border: 1px solid rgb(227, 214, 214);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width:500px) {
  .lang-select {
    display: none;
  }

}

.head-btn {
  margin-left: 10px;
  margin-top: 10px;
}

.btn {
  height: 30px;
  color: white;
  text-align: center;
  margin-left: 8px;
  border: none;
  font-size: 0.8rem;
  font-weight: 900;
  background-color: red;
  padding: 6px 24px 4px 24px;
  border-radius: 4px;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 20px;
}


.hero h2 {
  font-size: 1.2rem;
  word-spacing: 1px;
  font-weight: bold;
  margin-bottom: 30px;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.email-signup {
  background: transparent;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.email-signup input {
  flex: 1;
  width: 350px;
  border: 1px solid white;
  background: transparent;
  color: white;
  outline: none;
  margin-left: 20px;
  padding: 10px;
  padding-left: 28px;
  font-size: 16px;
  border-radius: 4px;
}

.email-signup input::placeholder {
  color: #ddd;
}

.email-signup input:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #ddd;
}

.email-signup button {
  background: #db0001;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  padding: 10px 28px;
  margin-left: 10px;
  border-radius: 4px;
  transition: background 0.3s;
}

.email-signup button:hover {
  background: #a70000;
}

.line {
  height: 7px;
  background-color: rgb(67, 63, 63);
}

.first {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 70vw;
  color: white;
  align-items: center;
}

.secImg {
  position: relative;
}

.secImg img {
  width: 35vw;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  top: 51px;
  right: 0;
}

.first>div {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}

.first>div :first-child {
  font-size: 30px;
  font-weight: bolder;
}

.first>div :nth-child(2) {
  font-size: 15px;
  font-weight: bolder;
}

.FAQ-heading {
  margin-top: 12px;
  color: #fff;
  margin-left: 195px;
}

.FAQ-section {
  margin: 20px 0px 40px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.FAQ-section .FAQ1 {
  height: 80px;
  padding: 24px;
  width: 75%;
  background-color: rgb(66, 66, 66, 0.7);
}

.FAQ1 {
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  color: #ddd;
  letter-spacing: 1px;
  word-spacing: 1.2px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.FAQ-section .FAQ1:hover {
  background-color: #4a4a4a;
}

footer p {
  color: #ddd;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .secImg {
    transform: scale(0.7);
    transform-origin: top center;
  }
  .FAQ-heading{
    margin-left: 40px;
  }

  .secImg video {
    display: none;
  }

  .first {
    flex-direction: column;
    text-align: center;
  }

  .hero h1 {
    font-size: 1.5rem;
  }

  .hero h2 {
    font-size: 1rem;
  }

  .hero p {
    font-size: 0.9rem;
  }
  footer p{
    font-size: 0.9rem;
  }

  .email-signup {
    flex-direction: column;
    gap: 5px;
    margin-bottom: 25px;
  }

  .email-signup input,
  .email-signup button {
    width: 90%;
  }

  .FAQ-heading {
    font-size: 1.5rem;
  }

  .FAQ1 {
    font-size: 0.95rem;
    padding: 14px;
  }
}